body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #eb74c3, #e5acc7);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #db15cd;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    margin: 10px;
  }
}
